.app__game-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;

  @media screen and (min-width: 300px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: 500px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (min-width: 800px) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media screen and (min-width: 1000px) {
    gap: 1rem;
  }

  .gamecard {
    position: relative;
    width: 110px;
    height: 170px;
    transform-style: preserve-3d;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      backface-visibility: hidden;
      position: absolute;
    }
    .card__front {
      transform: rotateY(180deg);
      filter: grayscale(95%);
    }
    .card__front__show {
      filter: grayscale(95%);
      animation: flipping 0.8s ease;
      animation-fill-mode: forwards;
    }
    .card__front__show-matched {
      filter: grayscale(0);
      animation: flipping 0.8s ease;
      animation-fill-mode: forwards;
    }
    .card__cover {
      animation: back-flipping 0.8s ease;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes flipping {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes back-flipping {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
