.app__home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: max-content;
  min-height: 300px;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
